@font-face {
    font-family: "SF Pro Display";
    font-style: normal; 
    font-weight: 500;
    src:url(../fons/SFProDisplay-Medium.ttf);
}
@font-face {
    font-family: "SF Pro Display";
    font-style: normal; 
    font-weight: 400;
    src:url(../fons/SFProDisplay-Regular.ttf);
}
@font-face {
    font-family: "SF Pro Display";
    font-style: normal; 
    font-weight: 700;
    src:url(../fons/SFProDisplay-Bold.ttf);
}
@font-face {
    font-family: "SF Pro Display";
    font-style: normal; 
    font-weight: 600;
    src:url(../widelands_dakh/fons/SFProDisplay-Semibold.ttf);
}


.header{
    font-family: "SF Pro Display";
    text-decoration: 0;
    color: #072234;
    font-size: 16px;
    font-weight: 500; 
}

a:hover{
    color:#409DE2;
}
a:active{
    color:#216DA6;
}

.title {
    font-family: "SF Pro Display";
    font-style: normal;
    color: #8C9EAA;
    font-size: 16px;
    font-weight: 400;
}
.wideland {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 120px;
    font-weight: 700;
    }
h1 {
    font-family: "SF Pro Display";
    color: #409DE2;
    font-size: 120px;
    font-weight: 700;
}
h2 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 64px;
    font-weight: 700;
}
.p1 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.p2 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 64px;
    font-weight: 700;
}
.p3 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.p4 {
    font-family: "SF Pro Display";
    color: rosybrown;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.p5 {
    font-family: "SF Pro Display";
    color: rosybrown;
    font-size: 16px;
    font-weight: 400;
}
.h3 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 700;
}
.p6 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.read {
    font-family: "SF Pro Display";
    color: #409DE2;
    font-size: 16px;
    font-weight: 500; 
}.btn2 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 13px;
    font-weight: 400; 
}
.p7 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 400;
}
.p8 {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.mail {
    font-family: "SF Pro Display";
    color: #409DE2;
    font-size: 24px;
    font-weight: 400; 
}

.h1new {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 120px;
    font-weight: 700;
}
.h2news {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 700;
}
.p1news {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.btnnews {
    font-family: "SF Pro Display";
    color: rosybrown;
    font-size: 16px;
    font-weight: 700;
}
.telhaed { 
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.telfooter { 
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}
.headertp {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
}
.p1tp {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}
.h2tp {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 700;
}
.litp {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.litpsb {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 600;
}
.p2tp {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.h1asrt {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
}
.p1asrt {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
caption {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 24px;
    font-weight: 700;
}
.th {
    font-family: "SF Pro Display";
    color: #8C9EAA;
    font-size: 16px;
    font-weight: 600;
}
.tableasrt {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
ul {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.tabasrt {
    font-family: "SF Pro Display";
    color: #072234;
    font-size: 16px;
    font-weight: 400;
}
.h1-404{
    font-family: "SF Pro Display";
    color: #409DE2;
    font-size: 144px;
    font-weight: 700;
}
.container{
    width: 100%;
    max-width: 1720px;
    margin: auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    background-color: tomato;
}
.header-list{
    display: flex;
    padding: 0;
    margin: 0;
}
.header-link{
    margin-right: 70px;
}
.header-linksvg{
    margin-right: 33px;
}
.header-linksvg:last-child{
     margin: 0;
}